@import "~bootstrap/dist/css/bootstrap.min.css";
html {
  scroll-behavior: smooth;
}
body {
  background-color: #22254b;
}
.up {
  position: fixed;
  bottom: 45px;
  right: 35px;
  background-color: #22254b;
  padding: 4px;
  font-size: 25px;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
